<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css" />
  <title>test</title>
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <form action="#">
        <label for="city">Город</label>
        <select v-model="selectedCity">
          <option value="" selected>-</option>
          <option value="saratov">Саратов</option>
          <option value="moscow">Москва</option>
          <option value="st.petersburg">Санкт-Петербург</option>
        </select>
        <br />
        <label for="guild">Цех</label>
        <select v-model="selectedGuild" :disabled="!selectedCity">
          <option v-for="guild in guilds[selectedCity]" :value="guild">{{ guild }}</option>
        </select>
        <br />
        <label for="employee">Сотрудник</label>
        <select v-model="selectedEmployee" :disabled="!selectedGuild">
          <option v-for="employee in employees[selectedGuild]" :value="employee">{{ employee }}</option>
        </select>
        <br />
        <label for="crew">Бригада</label>
        <div class="crew">
          {{ selectedShift }}
        </div>
      </form>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.prod.js"></script>
  <script src="./script.js"></script>
</body>

</html>